body {
    font-family: "Segeo UI", Tahoma,  Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e536e;
    
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #162daf;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header h1 {
    margin: 0;
    font-size:1.8rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    background-color: #5c6bc0;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #bebbbb;
    transform: scale(1.05);
}


main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.993);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    border-radius:8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #072af5;
    font-size: 14px;
}

.navButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}
.navButton:hover{
    background-color: #ddd4d4;
}

.flecha {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


ul li {
margin-bottom: 15px;
}
ul li img {
vertical-align: middle;
height: 31px;
margin-left: 10px;

}
details {
    margin-bottom: 1em;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0.5em;
    background-color: #3e7ef7;
}

summary {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

summary img {
    height: 20px;
}
